$color-principal: rgb(255, 255, 255);
$color-borde: rgb(210, 210, 210);
$color-texto-secundario: rgb(99, 99, 99);
$color-descuento: rgb(190, 0, 0);
$color-etiqueta: rgb(197, 197, 197);
$color-oferta: rgb(219, 78, 78);

section.card-section {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 20%));
  justify-content: center;
  gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(140px, 20%));
  }
}

.card {
  width: 100%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform .3s ease-out;

  &:hover {
    box-shadow: 0 0 5px $color-borde;

    .item {
      display: none;
    }
  }

  a {
    height: 100%;
    padding: 10px;

    .card-header {
      border-radius: 5px;

      .card-img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 5px;
        overflow: hidden;
      }

      .card-img img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .card-body {
      padding: 10px 0 0;
      text-align: start;
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        font-size: 13px;
        color: rgb(99, 99, 99);
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .price {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
      }

      .new-price {
        font-weight: 800;
      }

      .price.discount .new-price {
        color: $color-oferta;
      }

      .price.discount .old-price {
        font-size: 11px;
      }
    }

    .item {
      position: absolute;
      margin: 5px;
      top: 0;
      padding: 6px;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      font-size: clamp(10px, 1.5vw, 14px);
    }

    .percentage {
      right: 0;
      letter-spacing: 1px;
      background-color: $color-oferta;
    }

    .free {
      left: 0;
      background-color: rgb(197, 197, 197);
    }
  }
}

section.card-section-slider {
  display: flex;
  gap: 10px;
  overflow-x: scroll;

  .card {
    min-width: 180px;
    max-width: 200px;

    @media (max-width: 768px) {
      min-width: 140px;
      max-width: 160px;
    }
  }
}