header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation: progress-drow auto both;
  animation-timeline: scroll(root block);
  animation-range: 0 100vh;
  background-color: antiquewhite;
}
header .header-home {
  background-color: rgb(204, 204, 204);
  text-align: center;
  padding: 10px 0 10px;
  display: none;
}
header .header-body {
  width: 100%;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .hd-icon {
  width: 20px;
  height: 20px;
  fill: rgb(10, 10, 10);
}
header #checkbox-menu_bar:checked ~ #cont-aside {
  opacity: 1;
  visibility: visible;
}
header #checkbox-menu_bar:checked ~ #cont-aside > #mn-aside {
  transform: translateX(0%);
}

.header-component {
  align-items: center;
  gap: 20px;
}
.header-component .hd-item {
  height: 40px;
}
.header-component .hd-btn {
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 22px;
}
.header-component .hd-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header-component .hd-btn.in-flex {
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.header-component .hd-btn.in-circle {
  padding: 0;
  aspect-ratio: 1/1;
}

@keyframes progress-drow {
  100% {
    background: rgb(255, 249, 235);
  }
}
/************************************************************************/
/***************** apartado para los Side y sus estilos *****************/
/************************************************************************/
#cont-aside {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
#cont-aside aside {
  width: 400px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transition: 500ms all ease;
}
#cont-aside aside .header {
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
#cont-aside aside .header h2 {
  font-size: 1.2em;
  margin: 0px 10px;
}
#cont-aside aside .header .label-close {
  height: 28px;
  padding: 5px;
  display: inline-block;
}
#cont-aside aside .header .label-close > svg {
  width: 18px;
  height: 18px;
}
#cont-aside aside .header .label-close:hover svg {
  fill: rgb(255, 0, 0);
}
#cont-aside aside .body {
  width: 100%;
  height: 90%;
  overflow: auto;
  padding: 10px;
}
#cont-aside aside .body .mn-item {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: 300ms all;
}
#cont-aside aside .body .mn-item a {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: rgb(151, 151, 151);
}
#cont-aside aside .body .mn-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#cont-aside aside .body .mn-item:hover a {
  color: rgb(255, 191, 42);
}
#cont-aside aside .body::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
}
#cont-aside aside .body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
#cont-aside #mn-aside {
  transform: translateX(-100%);
}
#cont-aside #mn-aside > .header {
  background-color: rgb(255, 211, 106);
}

/*# sourceMappingURL=style.css.map */
